@using Microsoft.AspNetCore.Identity
@using BlogAtilio.MVC.Helpers
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<BlogAtilio.MVC.Models.Topic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-6">
            <div class="card-body">

                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>

                <h6 class="card-subtitle mb-2 text-muted">by @Html.DisplayFor(modelItem => item.CreateBy.Email)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="card-text text-right"><small class="text-muted">@item.CreateAt.Relative()</small></p>

                <a asp-action="Details" asp-route-id="@item.Id" class="card-link">Details</a>
                @if (item.CreateById == User.GetUserId())
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="card-link">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
                }

            </div>
        </div>
    }
</div>
